<style>
    #zone_chat strong {
        color: white;
        background-color: black;
        padding: 2px;
    }
</style>
<h1>My IRC</h1>
<div id="chatbox"></div>

<form name="message" action="">
    <input type="text" name="message" id="m" placeholder="Votre message..." size="50" autofocus />
    <input type="submit" id="envoi_message" value="Envoyer" />
</form>
<%= username %>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js">
</script><script>
var socket = io();
var username = "<%= username %>";
socket.emit('username', username);
$('form').submit(function(){
    socket.emit('msgst', $('#m').val());
    $('#m').val('');
    return false;
  });


socket.on('msgrcv', function(msg){
  $('#chatbox').append($('<li>').text(msg));
});
</script>
